// Configuracion de infraestructura de Nextflow.
// Los parametros del flujo de trabajo se definen via -params-file en run.sh.

docker {
    runOptions   = '-u $(id -u):$(id -g)'
    enabled      = true
    temp         = 'auto'
    fixOwnership = true
}

params {
    snpeffGenome = "GRCh38.p14"
}

process {
    errorStrategy = 'terminate'
}

executor {
    queueSize = 1
}

trace {
    enabled  = false
    overwrite = true
}

report {
    overwrite = true
}
