// Archivo de configuracion de Nextflow

// Parametros del flujo de trabajo
params.resultsDir=""
params.reportsDir=""
params.runSampleSheet=""
params.referenceDir=""
params.exprDir=""
params.ensg_enst_table=""  // referenceDir/GRCh38_no_alt/geneId_transcriptId_geneName.tsv (generado por 05_salmon_index.sh)

// parametros fussionSummary
params.method_counts='10'
params.supporting_reads='3'

// hilos
params.threadsSTAR='4'
params.threadsRascall='4'

// Directorio de trabajo de Nextflow
workDir=""

// Configuracion de los contenedores de Docker cuando Nextflow lo utiliza
docker {
 runOptions = '-u $(id -u):$(id -g)'
 enabled = true
 temp = 'auto'
 fixOwnership = true
}


// Configuracion de los modulos
process {
  errorStrategy = 'ignore'
}

